<!doctype html>
<html>
<head>
    <meta charset="{{ site.charset }}" />
    <title>
    	{% if 'attachment' == type %}
			{% if props['caption'] %}
				{{ site.name }} {{ props['caption'] }}
			{% else %}
				{{ site.name }} &ndash; {{ props['titel_ouder'] }}
			{% endif %}
    	{% else %}
	        {% if wp_title %}
	            {{ wp_title }}
	        {% else %}
	            {{ site.name }}
	        {% endif %}
        {% endif %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ theme.link }}/assets/img/ico/favicon.ico" />
    {{function('wp_head')}}
</head>
