{% set fallback_image_url = function('get_template_directory_uri') ~ '/assets/img/news-placeholder.png' %}

<div class="item item-archive">
  {% set thumbnail_url = post.thumbnail.src('medium') %}
  {% if not thumbnail_url %}
    {% set thumbnail_url = fallback_image_url %}
  {% endif %}
  <a href="{{ post.link }}" title="Meer lezen - {{ post.title }}"><div class="beeld" style="background-image:url( {{ thumbnail_url }} );"></div></a>
  <div class="datum">{{ function('get_the_date', 'd F Y', post.ID) }}</div>
  <a class="titel" href="{{ post.link }}" title="Meer lezen - {{ post.title }}"><h2>{{ post.title }}</h2></a>
  <p class="samenvatting">{{ function('wp_trim_words', post.content, 25, ' ... ') }}</p>
  <div class="lees-meer">
    <a class="" href="{{ post.link }}" title="Meer lezen - {{ post.title }}">Lees verder</a>
  </div>
</div>
